<div class ="container" style = "margin-top:50px;">
     <div class ="row">

      <h1>JSON Tester</h1>
      <hr/>
        <div id="editor" class ="small-5 large-5 columns">
           Insert JSON
        </div>
        
  	<div ng-ace-editor>  </div>
        <div  id="kaltura_player" style = "display:none; height:30% !important;"class ="small-5 large-5 columns"></div>

     </div>
    <div class ="row">
    	<div class="small-5">
    	 <button class="button expand" ng-click ="testJson($event)" id ="jsonBtn">Test JSON</button>
    	</div>
    </div>



<script>

</script>



  </div>